<footer>
    <div class="disclaimer-box">
        <a href="disclaimer.html" class="btn">Disclaimer</a>
    </div>

    <div class="return-box">
        <a href="#" class="btn">Return</a>
    </div>

    <div class="quick-links-box">
        <nav>
            <ul>
                <li><a href="#">Back</a></li>
                <li><a href="#top">Top</a></li>
                <li><a href="index.html">Index</a></li>
            </ul>
        </nav>
    </div>

    <div class="copyright-box">
        <p>© 2025 GamePerson. All Rights Reserved.</p>
        <label for="theme-toggle">🌙</label>
        <input type="checkbox" id="theme-toggle">
    </div>
</footer>
