<header>
    <div class="header-section">
        <h1>AI Articles</h1>
        <br>
        <ul>
            <li><a href="#" id="header-article-list-link" class="btn" aria-label="Article List">Article List</a></li>
            <li><a href="#legal" id="header-legal-link">Disclaimer</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="javascript:window.history.back();" class="btn" aria-label="Back one Step">Back</a></li>
        </ul>
    </div>
    
    <div id="theme-switch-header">
        <a href="#" id="header-switch-theme">
            <img src="assets/images/bulb.0.png" alt="Dark Mode" style="width: 30px;">
        </a>
    </div>
    <br>
</header>
