<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your site description here">
    <meta name="author" content="GamePerson">
    <meta name="robots" content="index, follow">
    
    <title>Site Title</title>
    
    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <script defer src="/js/main.js"></script>
    <script defer src="/js/contentLoader.js"></script>
</head>
